USE [master]
GO
/****** Object:  Database [TaskManagementDB]    Script Date: 2/1/2026 11:22:51 AM ******/
CREATE DATABASE [TaskManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagementDB', FILENAME = N'C:\Users\Charith-PC\TaskManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskManagementDB_log', FILENAME = N'C:\Users\Charith-PC\TaskManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagementDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/1/2026 11:22:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagedTasks]    Script Date: 2/1/2026 11:22:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[TaskTypeId] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_ManagedTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTypes]    Script Date: 2/1/2026 11:22:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaskTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260122110542_InitialCreate', N'8.0.23')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260122123116_SeedingTaskTypes', N'8.0.23')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260129175211_UpdateColumnDataType', N'8.0.23')
GO
SET IDENTITY_INSERT [dbo].[ManagedTasks] ON 

INSERT [dbo].[ManagedTasks] ([Id], [Name], [Description], [TaskTypeId], [StartDate], [EndDate], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (20, N'A1', N'Test 1', 1, CAST(N'2026-01-31T18:30:00.0000000' AS DateTime2), CAST(N'2026-02-27T18:30:00.0000000' AS DateTime2), CAST(N'2026-02-01T11:16:26.4762404' AS DateTime2), N'SYSTEM', CAST(N'2026-02-01T11:16:26.4762216' AS DateTime2), N'SYSTEM')
INSERT [dbo].[ManagedTasks] ([Id], [Name], [Description], [TaskTypeId], [StartDate], [EndDate], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (21, N'B1', N'Test 2', 2, CAST(N'2026-02-16T18:30:00.0000000' AS DateTime2), CAST(N'2026-02-27T18:30:00.0000000' AS DateTime2), CAST(N'2026-02-01T11:17:24.8306788' AS DateTime2), N'SYSTEM', CAST(N'2026-02-01T11:17:24.8306712' AS DateTime2), N'SYSTEM')
SET IDENTITY_INSERT [dbo].[ManagedTasks] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskTypes] ON 

INSERT [dbo].[TaskTypes] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'A', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'', NULL, NULL)
INSERT [dbo].[TaskTypes] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'B', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TaskTypes] OFF
GO
/****** Object:  Index [IX_ManagedTasks_TaskTypeId]    Script Date: 2/1/2026 11:22:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_ManagedTasks_TaskTypeId] ON [dbo].[ManagedTasks]
(
	[TaskTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedTasks]  WITH CHECK ADD  CONSTRAINT [FK_ManagedTasks_TaskTypes_TaskTypeId] FOREIGN KEY([TaskTypeId])
REFERENCES [dbo].[TaskTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ManagedTasks] CHECK CONSTRAINT [FK_ManagedTasks_TaskTypes_TaskTypeId]
GO
USE [master]
GO
