.mouse-hover{
    cursor: pointer
}

form label{
    text-transform: uppercase;
    color: gray;
}

form input{
    font-weight: 500;    
}

form input ::placeholder{
    color: #c0bdbd;
    font-weight: 300;
}

form input.ng-invalid{
    border-color: red;
}
.mat-row:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
